@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Стили кнопки «Add to Cart» (.card__button)
.card__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-100;
  width: 100%;
  border: none;
  border-radius: $radius-card;
  padding: $spacing-200 $spacing-400;
  color: $color-white;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1;
  background-color: $color-green-500;
  transition: background-color 0.2s ease;
  cursor: pointer;
  @include respond($bp-tablet) {
    width: 236px;
  }
  @media (hover: hover) {
    &:hover {
      background-color: $color-green-700;
    }
  }

  &:focus-visible {
    outline: 2px solid $color-green-700;
    outline-offset: 3px;
  }
}
